body{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#ff59cf,#ffa014);
    color: #551A8B;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

header{
    height: auto;
}

.container{
    background-color: #ecf0f1;
    width: 1080px;
    min-height: 100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

#main__menu{
    display: flex;
    align-items: center;
}

#main__menu ul li{
    list-style: none;
    display: inline;
    margin: 0 3px;
}

#main__menu ul li a{
    text-decoration: none;
    margin: 5px;
    padding: 2px 3px;
    font-weight: 600;
    color: #560f63;
    border: 1.5px solid #551A8B;
    border-radius: 10px;
}

#main__menu ul li a:hover{
    opacity: 0.8;
}

.hello{
    font-size: 20px;
}

.header__inner{
    display: flex;
    justify-content: space-between;

    margin: 18px;
    padding: 0 20px;
}

/* MAIN
============================ */

main{
    height: 100%;
    margin-top: 25px;
}

.brd-crn{
    display: flex;
    align-items: center;
    margin: 0 30px 30px 30px;
}

.brd-crn ul li{
    list-style: none;
    display: inline;
    margin: 0 3px;
}

.brd-crn ul li a{
    text-decoration: none;
    margin: 5px;
    padding: 2px 3px;
    font-weight: 600;
    color: #560f63;
    /*border: 1.5px solid #551A8B;*/
    /*border-radius: 10px;*/
}

.brd-crn ul li a:hover{
    opacity: .8;
}

.show{
    display: flex;
    justify-content: left;
    padding: 15px;
    margin-bottom: 15px;
    border: 1.5px solid #551A8B;
    border-radius: 10px;
}

.description{
    margin-left: 20px;
    width: 100%;
}

.description span{
    color: #6D214F;
    font-weight: 600;
}

.description p{
    margin-bottom: 8px;
}

.close a{
    text-decoration: none;
    margin: 5px;
    padding: 2px 3px;
    font-weight: 600;
    color: #560f63;
}

.close a:hover{
    opacity: .8;
}

/*Bank Card*/

.card{
    display: flex;
}

.text-center{
    margin: 30px;
    text-align: center;
    font-size: 40px;
}

.card-wrapper{
    width: 751px;
    height: 381px;
    /*border: 1px solid grey;*/
    position: relative;
}

.card-back, .card-front{
    width: 535px;
    height: 343px;
    border: 1px solid grey;
    border-radius: 15px;
    position: absolute;
}

.card-back{
    right: 0;
    bottom: 0;
    background: #ececec;
}

.card-front{
    background-image: linear-gradient(120deg,#ff59cf,#ffa014);
}

.card-back-line{
    width: 100%;
    height: 80px;
    background: #c0c0c0;
    position: absolute;
    top: 50px;
}

.card-name{
    position: absolute;
    top: 47px;
    left: 200px;
    font-size: 40px;
    width: 290px;

}

#cvv{
    position: absolute;
    right: 40px;
    bottom: 112px;
    width: 100px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    border-width: 3px;
}

.card-icon{
    height: 60px;
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 80px;
}

.card-logo-visa{
    height: 50px;
    position: absolute;
    bottom: 40px;
    right: 30px;
    font-size: 50px;
}

.card-logo-mc{
    height: 50px;
    position: absolute;
    bottom: 40px;
    right: 100px;
    font-size: 50px;
}

#card-number{
    position: absolute;
    width: 90%;
    margin: 0 5%;
    background: #f1f1f1;
    font-size: 40px;
    padding: 5px;
    top: 145px;
    outline: none;
    border-width: 3px;
}

#card-to-year, #card-to-month{
    position: absolute;
    background: #f1f1f1;
    font-size: 40px;
    padding: 5px;
    outline: none;
    width: 60px;
    text-align: center;
    bottom: 40px;
    left: 5%;
    border-width: 3px;
}

#card-to-year{
    left: 20%;
}

.right{
    margin-left: 70px;
    margin-top: 300px;
}

.total p{
    font-size: 20px;
    margin-bottom: 10px;
}

.pay-btn, .btn{
    width: 140px;
    height: 40px;
    border: none;
    margin-left: 8px;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(120deg,#ff59cf,#FF9800,#ff59cf);
    background-size: 200%;
    color:#65264b;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    text-align: center;
}

.p-btn {
    display: block;
    float: right;
}

.pay-btn:hover{
background-position: right;
}

/* Footer */
.footer__inner{
    text-align: center;
    margin-top: 30px;
    border-radius: 0;
}

.error {
    border-color: red;
}

.errorMessage {
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.total > p {
    text-align: right;
    margin: 10px;
    padding: 5px;
}


.next-previous{
    display: flex;
    justify-content: space-around;

    margin: 30px 0;
}

.next-previous-btn{
    display: block;
    width: 140px;
    height: 40px;
    border: none;
    padding: 9px;
    margin-left: 8px;
    border-radius: 10px;
    background: linear-gradient(120deg,#ff59cf,#FF9800,#ff59cf);
    background-size: 200%;
    color:#65264b;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    text-align: center;
}

.hide {
    display: none;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    width: 1080px;
    margin: 1.5rem auto;
    border-radius: 13px;
    text-align: center;
}

.alert-warning {
    width: 1040px;
    color: #e68100;
    background-color: #edead1;
    border-color: #e6cdc1;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}



