*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#ff59cf,#ffa014);
}

.sign-up{
    width: 360px;
    background: #f1f1f1;
    height: 630px;
    padding: 55px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sign-up h1{
    text-align: center;
    margin-bottom: 25px;
    color: #65264b;
    font-size: 28px;
}

.txtb{
    border-bottom: 2px solid #883466;
    position: relative;
    margin: 30px 0; 
}

.txtb.error {
    border-bottom-color: red;
}


.uname {
    color: red;
}

.txtb input{
    font-size: 15px;
    /*color: #333;*/
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

label {
    position: relative;
    left: 5px;
    color: #adadad;
}


.signbtn{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border: none;
    background: linear-gradient(120deg,#ff59cf,#FF9800,#ff59cf);
    background-size: 200%;
    color:#65264b;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    text-align: center;
}

.signbtn:hover{
    background-position: right;
}

.bottom-text{
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
}

#btm-txt {
    color: red;
}

